.start-body {
  background: #123;
  color: #333;
  font-size: 14px;
  height: 100%;
  padding-bottom: 20px;
}

.container {
  width: 996px;
  background-color: #fff;
  margin-bottom: 20px;
}

.row {
  padding: 20px;
}

h1 {
  font-size: 36px;
  padding: 34px 0 24px;
  text-align: center;
  color: #fff;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

ul {
  padding-left: 24px;
}

li a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
}
